# Database connection URL (MongoDB)
DATABASE_URL="mongodb+srv://username:password@localhost:27017/database_name?authSource=admin"

# Port the backend server will listen on
PORT=3000

# JSON Web Token Secret for authentication
JWT_SECRET="your_jwt_secret_key"
